@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@layer base {
    html {
        font-family: 'Hanken Grotesk', sans-serif;
    }
}

@layer utilities {
    .font-hanken-grotesk {
        font-family: 'Hanken Grotesk', sans-serif;
    }
}
